{% extends 'base.html' %}
{% block content %}
  
  
  <h2>{{movie.title}} Details</h2>
  
<!-- add change below  -->
  <ul>
    <li>
      Release Date: {{ movie.release_at }}
    </li>
    <li>
      Imdb URL: <a href='{{movie.imdb_url }}'> {{movie.imdb_url }} </a>
    </li>
    <li>
      Ratings:
      <ul>
        <li>
         {{ scores }}
        </li>
      </ul>
    </li>   
  </ul>
    <form action="/movies/{{movie.movie_id}}" method="POST">
      Rate this movie<br>
      <input type="radio" name="rating" value="1">1
      <input type="radio" name="rating" value="2">2
      <input type="radio" name="rating" value="3">3
      <input type="radio" name="rating" value="4">4
      <input type="radio" name="rating" value="5">5<br>
      <input type="submit" value ="Submit Rating">
    </form>

{% endblock %}